{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}


    <h1>{{ cap }}</h1>


    <div >
        {{ content | safe }}
      
    </div>

    <form action="" method="POST" novalidate>
        {% csrf_token %}
            <input name="title" type="hidden" ></p>
            <input name="content" type="hidden" ></p>
        
        <input type="submit" value="Edit Entry" name="edit">
    
        </form>
        
       
            
    
    
{% endblock %}